# ansible-playbook -i ../../inventory.yml --vault-id default@/etc/ansible_pass_private server.yml --diff

- name: Configure Server
  hosts: linode
  become: true
  tags: server

  vars_files:
    - ../../vars.yml

  tasks:
    - name: Configure Caddyfile
      blockinfile:
        path: /root/caddy/Caddyfile
        create: true
        marker: "# {mark} ANSIBLE MANAGED lights.linode.djupvik.dev BLOCK"
        block: |
          lights.linode.djupvik.dev {
            reverse_proxy localhost:{{ client_port }} {
              transport http {
                keepalive 60m
                keepalive_interval 10s
              }
            }
          }

    - name: Restart Caddy
      command: docker restart caddy