Adafruit-Blinka==8.66.0
adafruit-platformdetect==3.83.1
adafruit-circuitpython-neopixel==6.3.17
Adafruit-PureIO==1.1.11
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-pixelbuf==2.0.9
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-typing==1.12.1
rpi_ws281x==5.0.0
RPi.GPIO==0.7.1
lgpio==0.2.2.0
gpiod==2.3.0
pyserial==3.5

Flask==3.0.2
python-dotenv==0.21.1
pydantic==2.7.1
paho-mqtt==2.1.0
func_timeout==4.3.5